@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}

hr {
  clear: both;
  margin: 10px 0;
}

.modal form {
  margin: 0;
}

.stats {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px 0;
}
.stats span {
  font-size: 25px;
  display: block;
  font-family: Inconsolata, "Deja Vu Sans Mono", Consolas, monospace;
  font-weight: bold;
  margin-bottom: 7px;
}
form.add input[type=number] {
  font-size: 16px;
}
form.add input.btn {
  margin-top: 20px;
}
ul.transactions {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.transactions li {
  padding: 9px 0;
  border-bottom: 1px solid #E5E5E5;
}
ul.transactions li:last-child {
  border-bottom: none;
}
ul.transactions li.odd {
  background: #f7f7f7;
}
