<div ng-controller="AppCtrl">
  <div class="row">
    <div class="span6">
      <form class="well add form-inline" ng-submit="addTransaction()">
        <div class="alert alert-success" ng-show="message">{{message}}</div>
        <input type="number" step="any" class="span2" min="0" ng-model="amount"  placeholder="How much did you spend?">
        <input class="btn btn-primary btn-large span3" type="submit" value="Add Transaction">
      </form>
    </div>
    <div class="span6">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Stats</a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div class="stats">
                <p><span>${{(limit - current).toFixed(2)}}</span> left this month</p>
              </div>
              <div class="stats">
                <p><span>${{((limit - current) / (daysInMonth - curDay + 1)).toFixed(2)}}</span> left per day</p>
              </div>
              <hr />
              <div class="stats">
                <p><span>${{current.toFixed(2)}}</span> spent this month</p>
              </div>
              <div class="stats">
                <p><span>${{(current / curDay).toFixed(2)}}</span> spent per day</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Transactions</a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="transactions">
                <li ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="transaction in transactions">
                  <span class="badge badge-important"><a ng-click="removeTransaction(transaction)" href="#"><i class="icon-remove icon-white"></i></a></span>
                  <strong>{{transaction.attributes.amount.toFixed(2)}}</strong> {{transaction.createdAt | date:'EEE, MM/dd, h:mma'}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
