<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.smirkstudio.baconflow" version = "1.0.0">

  <name>Baconflow</name>

  <description>Simple budgeting for simple people.</description>

  <author href="http://mikethecoder.com" email="mikecrittenden@gmail.com">Mike Crittenden</author>

  <icon src="img/piggy.png" gap:role="default" />

  <feature name="http://api.phonegap.com/1.0/network"/>

  <preference name="orientation" value="portrait" />
</widget>
