<!doctype html>
<html manifest="cache.manifest" lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Baconflow - Easy one-envelope budgeting</title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" href="http://baconflow.com/img/piggy.png"/>
  <link rel="apple-touch-icon-precomposed" href="http://baconflow.com/img/piggy.png"/>
</head>
<body ng-controller="BaconflowCtrl">
  <div ng-cloak class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/#">Baconflow</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li><a data-toggle="modal" ng-show="!loggedIn" href="#loginForm">Log In</a></li>
            <li><a data-toggle="modal" ng-show="!loggedIn" href="#accountForm">Register</a></li>
            <li><a data-toggle="modal" ng-show="loggedIn" href="#accountForm">Account</a></li>
            <li><a ng-show="loggedIn" ng-click="logout()" href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div ng-cloak class="container">
    <div class="row">
      <div ng-show="!loggedIn" class="span12"><div class="alert">You're not logged in, so this is just a demo. <a href="#loginForm" data-toggle="modal">Log in</a> or <a href="#accountForm" data-toggle="modal">sign up</a> for the full experience.</div></div>
      <div class="span6">
        <form class="well add form-inline" ng-submit="addTransaction()">
          <div class="alert alert-success" ng-show="message">{{message}}</div>
          <input type="number" step="any" class="span2" ng-model="amount" required  placeholder="How much did you spend?">
          <input class="btn btn-primary btn-large span3" type="submit" value="Add Transaction">
        </form>
      </div>
      <div class="span6">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Stats</a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <div class="stats">
                  <p><span>${{(limit - current).toFixed(2)}}</span> left this month</p>
                </div>
                <div class="stats">
                  <p><span>${{((limit - current) / (daysInMonth - curDay + 1)).toFixed(2)}}</span> left per day</p>
                </div>
                <hr />
                <div class="stats">
                  <p><span>${{current.toFixed(2)}}</span> spent this month</p>
                </div>
                <div class="stats">
                  <p><span>${{(current / curDay).toFixed(2)}}</span> spent per day</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Transactions</a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul class="transactions">
                  <li ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="transaction in transactions">
                    <span class="badge badge-important"><a ng-click="removeTransaction(transaction)" href="#"><i class="icon-remove icon-white"></i></a></span>
                    <strong>{{transaction.attributes.amount.toFixed(2)}}</strong> {{transaction.createdAt | date:'EEE, MM/dd, h:mma'}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="loginForm" class="modal hide">
  <form class="form-horizontal" ng-submit="login()">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Log In</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-error" ng-show="loginError">{{loginError}}</div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">@</span><input type="email" ng-model="email" required placeholder="you@yours.com" />
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span><input type="password" required ng-model="password" placeholder="hunter2" />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </form>
</div>

<div id="accountForm" class="modal hide">
  <form class="form-horizontal" ng-submit="saveUser()">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Your Account</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-error" ng-show="accountError">{{accountError}}</div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">@</span><input type="email" ng-model="email" required placeholder="you@yours.com" />
          </div>
        </div>
      </div>
      <div ng-show="!loggedIn" class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span><input type="password" ng-model="password" placeholder="hunter2" />
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="limit">Monthly Budget</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">$</span><input type="number" step="any" ng-model="limit" required placeholder="500" />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <button type="Save" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<script type="text/javascript" src="lib/parse.min.js"></script>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-collapse.js"></script>
<script type="text/javascript" src="lib/bootstrap-modal.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>

</body>
</html>
